{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div class="container">
        {{ form(form) }}
    </div>
    {# @var dto \App\Controller\DTO\DemoParameters #}
    <div class="container">
        <h2>All products</h2>
        {% include 'demo/productList.html.twig' with {'products': dto.availableProducts, 'caption': 'http://{{ API URL }}/products.json'} only %}

        <h2>Available products</h2>
        {% include 'demo/productList.html.twig' with {'products': dto.availableProducts, 'caption': 'http://{{ API URL }}/products.json?collection=available'} only %}

        <h2>Unavailable products</h2>
        {% include 'demo/productList.html.twig' with {'products': dto.unAvailableProducts, 'caption': 'http://{{ API URL }}/products.json?collection=unavailable'} only %}


        <h2>"Safe Available" products - at least 5 in store</h2>
        {% include 'demo/productList.html.twig' with {'products': dto.safeAvailableProducts, 'caption': 'http://{{ API URL }}/products.json?collection=safe-available'} only %}

    </div>

{% endblock %}