{# @var products \Skladiste\RestBundle\Model\Product[] #}
<table class="table table-striped">
    <caption>{{ caption }}</caption>
    <thead>
    <th scope="col">ID</th>
    <th scope="col">Product name</th>
    <th scope="col">Current amount</th>
    <th scope="col">Actions</th>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.amount }}</td>
            <td><a href="{{ url('storage_app_update_product', {id: product.id}) }}">edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>